{% extends "base.html" %}
{% block content %}
<div id="stockChart" class="app-content">
    <form id="analyzeForm" method="POST" action="/analyze">
        <div class="mb-3">
            <input type="text" class="form-control" id="stockSearch" name="stocks" placeholder="Search companies (max 5, comma-separated)" required value="{{ request.form['stocks'] if request.form['stocks'] else '' }}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Generate Charts</button>
        </div>
    </form>
    {% if chart_img %}
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div style="position: relative;">
                    <img id="chartImage" src="data:image/png;base64,{{ chart_img }}" class="img-fluid">
                    <div style="position: absolute; top: 10px; right: 10px;">
                        <select id="periodSelector">
                            <option value="ytd">YTD</option>
                            <option value="5y">5 Years</option>
                            <option value="10y">10 Years</option>
                            <option value="15y">15 Years</option>
                            <option value="20y">20 Years</option>
                            <option value="25y">25 Years</option>
                        </select>
                        <input type="checkbox" id="logScaleCheckbox"> Log Scale
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="portfolioBuilder" class="app-content" style="display: none;">
    <h2>Portfolio Builder</h2>
    <div id="portfolioInputs">
        <form id="portfolioForm">
            <div id="stockInputs">
            </div>
            <button type="button" id="addStock" class="btn btn-secondary">Add Stock</button>
            <button type="button" id="equalWeights" class="btn btn-info">Equal Weights</button>
            <button type="button" id="calculatePortfolio" class="btn btn-primary">Calculate Portfolio</button>
        </form>
    </div>
    <div id="portfolioResults"></div>
    <div id="portfolioGraphs" style="display: none;">
        <div id="returnPlot" style="width: 100%;"></div>
        <div style="display: flex;">
            <div id="pieChart" style="width: 50%;"></div>
            <div id="industryPieChart" style="width: 50%;"></div>
        </div>
        <div id="returnHeatmap" style="width: 100%;"></div>
    </div>
    <div id="totalWeight" style="margin-top: 10px;">Total Weight: 0%</div>
</div>

<script>
    $(document).ready(function() {
        $('#periodSelector, #logScaleCheckbox').on('change', function() {
            var currentStocks = $('#stockSearch').val();
            var period = $('#periodSelector').val();
            var logScale = $('#logScaleCheckbox').is(':checked');

            $.ajax({
                url: '/analyze',
                type: 'POST',
                data: {
                    stocks: currentStocks,
                    period: period,
                    log_scale: logScale
                },
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(response) {
                    $('#chartImage').attr('src', 'data:image/png;base64,' + response.chart_img);
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        });

        let stockCount = 0;

        $('#addStock').click(function() {
            if (stockCount < 10) {
                stockCount++;
                let newStockInput = `
                    <div class="mb-3">
                        <label for="stock${stockCount}" class="form-label">Stock ${stockCount}:</label>
                        <input type="text" class="form-control stock-input" id="stock${stockCount}" name="stock${stockCount}" placeholder="Stock ${stockCount}">
                        <div class="slider-container">
                            <div id="slider${stockCount}" class="slider"></div>
                            <input type="hidden" id="allocation${stockCount}" name="allocation${stockCount}" value="0">
                            <span id="sliderValue${stockCount}">0%</span>
                        </div>
                    </div>
                `;
                $('#stockInputs').append(newStockInput);
                setupSlider(stockCount);
                setupAutocomplete(`#stock${stockCount}`);
            }
        });

        function setupSlider(index) {
            $(`#slider${index}`).slider({
                min: 0,
                max: 100,
                step: 1, // Ensure only whole number values
                slide: function(event, ui) {
                    let totalWeight = 0;
                    $('.slider').each(function() {
                        totalWeight += $(this).slider('value');
                    });

                    let otherSliders = $('.slider').not(`#slider${index}`);
                    let otherSlidersTotal = 0;

                    otherSliders.each(function() {
                        otherSlidersTotal += $(this).slider('value');
                    });

                    let maxForCurrent = 100 - otherSlidersTotal;

                    if (ui.value > maxForCurrent) {
                        return false; // Prevent slider from exceeding max
                    }

                    $(`#allocation${index}`).val(ui.value);
                    $(`#sliderValue${index}`).text(ui.value + '%');

                    // Call updateTotalWeight() after setting the new value
                    setTimeout(updateTotalWeight, 0);
                }
            });
        }

        function setupAutocomplete(inputId) {
            $(inputId).on("input", function() {
                let inputVal = $(this).val();
                let lastCommaIndex = inputVal.lastIndexOf(",");
                let currentTerm;

                if (lastCommaIndex !== -1) {
                    currentTerm = inputVal.substring(lastCommaIndex + 1).trim();
                } else {
                    currentTerm = inputVal;
                }

                $(this).autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: "/search",
                            dataType: "json",
                            data: { term: currentTerm },
                            success: function(data) {
                                response(data);
                            }
                        });
                    },
                    select: function(event, ui) {
                        $(inputId).val(ui.item.value);
                        return false;
                    }
                });
            });
        }

        $('#equalWeights').click(function() {
            let numStocks = $('.stock-input').length;
            let equalWeight = Math.round(100 / numStocks);

            $('.slider').each(function(index) {
                $(this).slider('value', equalWeight);
                $(`#allocation${index + 1}`).val(equalWeight);
                $(`#sliderValue${index + 1}`).text(equalWeight + '%');
            });
            updateTotalWeight()
        });

        $('#calculatePortfolio').click(function() {
            $.ajax({
                url: '/portfolio/calculate',
                type: 'POST',
                data: $('#portfolioForm').serialize(),
                success: function(response) {
                    if (response.error) {
                        $('#portfolioResults').html(`<p style="color: red;">${response.error}</p>`);
                        $('#portfolioGraphs').hide();
                    } else {
                        $('#portfolioResults').html('');
                        $('#returnPlot').html(`<img src="data:image/png;base64,${response.return_plot}" class="img-fluid">`);
                        $('#pieChart').html(`<img src="data:image/png;base64,${response.pie_chart}" class="img-fluid">`);
                        $('#portfolioGraphs').show();
                        $('#portfolioBuilder').hide(); // Hide the portfolio builder

                        if (response.industry_pie_chart){
                            $('#industryPieChart').html(`<img src="data:image/png;base64,${response.industry_pie_chart}" class="img-fluid">`);
                        } else {
                            $('#industryPieChart').html(''); // Clear if no industry chart
                        }
                        if(response.heatmap_img){
                            $("#returnHeatmap").html(`<img src="data:image/png;base64,${response.heatmap_img}" class="img-fluid">`)
                        } else {
                            $('#returnHeatmap').html(''); // Clear if no heatmap
                        }
                    }
                },
                error: function(error) {
                    console.error("Error:", error);
                    $('#portfolioResults').html('<p style="color: red;">An error occurred.</p>');
                    $('#portfolioGraphs').hide();
                }
            });
        });

        function updateTotalWeight() {
            let totalWeight = 0;
            let sliders = $('.slider');

            sliders.each(function() {
                totalWeight += $(this).slider('value');
            });

            // Round to the nearest whole number
            totalWeight = Math.round(totalWeight);

            $('#totalWeight').text('Total Weight: ' + totalWeight + '%');

            sliders.each(function(index) {
                let currentSlider = $(this);
                let otherSliders = sliders.not(currentSlider);
                let otherSlidersTotal = 0;

                otherSliders.each(function() {
                    otherSlidersTotal += $(this).slider('value');
                });

                let maxForCurrent = 100 - otherSlidersTotal;

                if (maxForCurrent < 0) {
                    maxForCurrent = 0;
                }

                currentSlider.slider('option', 'max', maxForCurrent);
            });
        }
    });
</script>

<style>
    .slider-container {
        display: flex;
        align-items: center;
    }
    .slider {
        width: 200px;
        margin-right: 10px;
    }
</style>
{% endblock %}